<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../View/Images/pirate-ship.svg" />
    <link rel="stylesheet" href="../View/CSS/Main.css">

    <title>Rackham</title>

</head>

<body>
    <div class="structure">
        <header>
            <div class="name-company">
                <img class="logo" src="../View/Images/pirate-ship.svg" alt="Name Company">Rackham
            </div>
        </header>

        <section class="main-content">
            <div class="content">
                <div class="title-content">
                    Space Piracy Company
                </div>
                <div class="text-content">
                    Conheça a primeira empresa de Pirataria Espacial, a melhor <b>Iniciativa Ecológica</b> e
                    <b>O Próximo Passo da Evolução Espacial</b>.
                </div>
                <button class="btn">Saiba Mais!</button>
            </div>
        </section>

        <section class="owners-section">
            <div class="square-content-1">
                <div class="title-square">
                    Como Funcionamos?
                </div>
                <hr>
                <div class="text-square">

                    A cada lançamento de foguete ou satélite, são despejados
                    toneladas de lixo espacial que são desperdiçados e esquecidos
                    nos confins do universo. O nosso trabalho consiste em localizar
                    esse lixo na vastidão do espaço e “saquea-lo”, de forma que,
                    depois de resgatado, o conceito de lixo ficará no passado.
                    <br></br>
                    Assim, todo esse material que seria perdido, terá uma segunda utilidade,
                    sendo reutilizado em novos projetos e poupando ainda mais os nossos recursos
                    naturais. Dessa forma, pretendemos transformar o lixo em verdadeiros “tesouros
                    espaciais”.
                </div>
                <img class="img-square-content-1" src="../View/Images/Earth_Icon.png" alt="Earth" width="110"
                    height="110">
            </div>
            <div class="square-content-2">
                <div class="title-square">
                    Por que nos escolher?
                </div>
                <hr>
                <div class="text-square">
                    Nossa empresa é a pioneira no ramo, fazendo um trabalho que combina inovação com qualidade. Dito
                    isso, afirmamos com orgulho que você não se arrependerá de fechar negócio conosco.
                    Seguindo a política de “servir bem para servir sempre”, nossa equipe conta com dezenas de
                    especialistas treinados na área, que são instruídos a oferecer a melhor experiência aos nossos
                    clientes.
                    <br></br>
                    Por fim, contamos com um sistema de talentos, que busca trazer jovens promissores e com grande
                    potencial para o mercado de trabalho. Com isso, garantimos que nossa empresa está sempre antenada
                    com as novidades, mas com aquela clássica tradição e determinação dos verdadeiros piratas.
                </div>

                <img class="img-square-content-2" src="../View/Images/Mars_Icon.png" alt="Mars" width="100"
                    height="100">
            </div>
            <div class="square-3">
                <div class="title-content">
                    Serviços
                </div>
            </div>
        </section>

        <section class="cards">

            <section class="form-section">
                <form action="">
                    <div class="form-field">
                        <div class="border-field">
                            <div class="title-form"> Vamos partir em uma aventura, marujo?</div>
                            <hr> <br>
                            <label for="">Nome:</label> <br>
                            <input type="text"> <br>
                            <br></br>
                            <label for="">Email:</label> <br>
                            <input type="text"> <br>

                            <button class="form-btn" type="submit">Enviar</button>
                        </div>

                    </div>
                </form>
            </section>

            <div class="card-group">
                <div class="card">
                    <div class="card-title">Coleta</div>
                    <hr>
                    <div class="card-content">
                        A coleta do lixo espacial é o pilar central do funcionamento da nossa empresa.
                        Utilizamos a nossa rede de satélites de coleta para viabilizar o mais rápido possível
                        a reciclagem e a limpeza do espaço envolta da Terra.
                    </div>
                    <br>
                    <img class="Align" src="../View/Images/modules.svg" alt="" width="80px" height="80px">
                </div>
                <div class="card">
                    <div class="card-title">Reciclagem</div>
                    <hr>
                    <div class="card-content">
                        A partir da coleta do lixo espacial, trabalhamos com a sua reciclagem, produzindo
                        novamente a matéria prima para o seu uso na engenharia espacial.
                    </div>
                    <br></br><br>
                    <img class="Align" src="../View/Images/recycle.svg" alt="" width="80px" height="80px">
                </div>
                <div class="card">
                    <div  class="card-title">Lançamento</div>
                    <hr>
                    <div class="card-content">
                        Além da coleta e a reciclagem, trabalhamos como um outro meio para envios de cargas
                        para o espaço, seja satelites, modulos lunares ou equipamentos de pesquisas.
                    </div>
                    <br></br><br>
                    <img class="Align" src="../View/Images/shuttle.svg" alt="" width="80px" height="80px">
                </div>
                <div class="card">
                    <div class="card-title">Venda</div>
                    <hr>
                    <div class="card-content">
                        Por fim, ao final de cada missão espacial, realizaremos a venda de todo o material adquirido,
                        dessa forma, lucrando com um material que seria desperdiçado e girando capital
                    </div>
                    <br></br><br>
                    <img class="Align" src="../View/Images/handshake.svg" alt="" width="80px" height="80px">
                </div>
            </div>

        </section>

        <section class="fourth-section"></section>

        <section class="final-section">
            <hr>
            <img class="Logo-Final-Section" src="../View/Images/pirate-ship.svg" alt="Pirate Ship" width="100px"
                height="100px">
            <div class="Final-content">
                <div class="Final-list">
                    <div class="Final-title">
                        Unidades:
                    </div>
                    <hr> Cabo Canaveral
                    <hr>
                    Alcantara Space Center
                    <hr>
                    <div class="Final-title">
                        Tel:
                    </div>
                    <hr> (9) 9999-9999
                    <hr>
                    (11) 4002-8922
                    <hr>
                </div>
                <div class="Space-between"></div>
                <div class="Final-list">
                    <div class="Final-title">
                        Parcerias:
                    </div>
                    <hr> NASA
                    <hr>
                    SpaceX
                    <hr>
                    <div class="Final-title">
                        Criadores:
                    </div>
                    <hr> Antenor
                    <hr>
                    Gabriel
                    <hr>
                </div>
            </div>
            <div class="Footer-icons">
                <a href="https://www.instagram.com/gabriel.clemonini/?hl=pt-br"><img src="../View/Images/instagram.svg"
                        alt="Insta" width="50px" height="50px"></a>
                <a href="#"><img src="../View/Images/facebook.svg" alt="Insta" width="50px" height="50px"></a>
                <img src="../View/Images/social-media.svg" alt="" width="70px" height="70px">
                <a href="#"><img src="../View/Images/twitter.svg" alt="" width="50px" height="50px"></a>
                <a href="#"> <img src="../View/Images/youtube.svg" alt="" width="50px" height="50px"></a>
            </div>
        </section>
    </div>
</body>

</html>